.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  color: var(--color-base);
  transition: transform var(--feature-transition-duration);
}

.feature:hover {
  transform: scale(1.05);
}

.feature__description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feauture__logo {
}

.feature__title {
  /* title lead bold */
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-title);
}

.feature__description {
  /* base regular */
  font-size: 16px;
  line-height: 160%;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
}
