.header {
  background-image: url('/images/header_background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 645px;
  box-sizing: inherit;
  color: var(--color-primary);
}

.header__nav-container {
  height: 52px;
}

.header__content-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.header__breadcrumb-container {
  display: flex;
  justify-content: center;
}

.header__text-container {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: 32px;
}

.header__text-content {
  max-width: 810px;
  text-align: center;

  /* lead regular opacity60 */

  font-size: 20px;
  line-height: 150%;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.6;
}

.header__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 52px;
}

.header__input-container {
  /* base regular */

  font-size: 16px;
  line-height: 160%;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 73px;
}

.header__input-field {
  flex-grow: 1;
  height: inherit;
  border-style: solid;
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  border-color: var(--input-border-header);
  background-color: var(--input-background-header);
  color: var(--input-placeholder-header);
  opacity: 0.6;
}

.header__button {
  padding: 14px 40px;
  width: 199px;

  /* bold */
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header__title {
  /* display1 black */

  font-size: 72px;
  line-height: 130%;
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-style: normal;
}
