.input-field {
  flex-grow: 1;
  height: inherit;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--input-border);
  background-color: var(--input-background);
  color: var(--input-placeholder);
}
