.list-item {
  position: relative;

  /* base regular */

  font-size: 16px;
  line-height: 160%;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;

  --icon: url("data:image/svg+xml, <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M14.4708 3.52827C14.7311 3.78862 14.7311 4.21073 14.4708 4.47108L6.47075 12.4711C6.2104 12.7314 5.78829 12.7314 5.52794 12.4711L1.52794 8.47108C1.26759 8.21073 1.26759 7.78862 1.52794 7.52827C1.78829 7.26792 2.2104 7.26792 2.47075 7.52827L5.99935 11.0569L13.5279 3.52827C13.7883 3.26792 14.2104 3.26792 14.4708 3.52827Z' fill='%237772f1'/></svg>");
}

.list-item::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  margin-right: 8px;
  color: var(--item-mark);
  background-image: var(--icon);
}

.list-item--inactive {
  color: var(--item-inactive);
}

.list-item--inactive::before {
  background-image: url("data:image/svg+xml, <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M2.86128 2.86225C3.12163 2.6019 3.54374 2.6019 3.80409 2.86225L7.99934 7.05751L12.1946 2.86225C12.455 2.6019 12.8771 2.60191 13.1374 2.86225C13.3978 3.1226 13.3978 3.54471 13.1374 3.80506L8.94215 8.00032L13.1374 12.1956C13.3978 12.4559 13.3978 12.878 13.1374 13.1384C12.8771 13.3987 12.455 13.3987 12.1946 13.1384L7.99934 8.94313L3.80409 13.1384C3.54374 13.3987 3.12163 13.3987 2.86128 13.1384C2.60093 12.878 2.60093 12.4559 2.86128 12.1956L7.05654 8.00032L2.86128 3.80506C2.60093 3.54471 2.60093 3.1226 2.86128 2.86225Z' fill='%239a9ca5'/></svg>");
}

.list-item--optimal {
  color: var(--color-item-optimal);

  --icon: url("data:image/svg+xml, <svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M14.4708 3.52827C14.7311 3.78862 14.7311 4.21073 14.4708 4.47108L6.47075 12.4711C6.2104 12.7314 5.78829 12.7314 5.52794 12.4711L1.52794 8.47108C1.26759 8.21073 1.26759 7.78862 1.52794 7.52827C1.78829 7.26792 2.2104 7.26792 2.47075 7.52827L5.99935 11.0569L13.5279 3.52827C13.7883 3.26792 14.2104 3.26792 14.4708 3.52827Z' fill='%2303cea4'/></svg>");
}
