.section-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  padding-top: 180px;
}

.section-features__title {
  /* title h1 h1--hoverable */
  color: var(--color-title);
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 46px;
  line-height: 130%;
  position: relative;
}

.section-features__title::after {
  display: block;
  content: ' ';
  width: 0%;
  height: 0.25rem;
  bottom: 5px;
  left: 50%;
  background-color: var(--color-h1-underline);
  transition:
    width var(--h1-transition-duration),
    left var(--h1-transition-duration);
  position: absolute;
}

.section-features__title:hover::after {
  width: 100%;
  left: 0;
}

.section-features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  gap: 80px 188px;
  width: 100%;

  /*
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: calc(188px / 2);
  */
}

.section-features__feature {
  max-width: 285px;
  min-height: 188px;
}
