.section-copyright {
  padding-top: 40px;
  position: relative;
  box-sizing: content-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-copyright::before {
  content: ' ';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--color-section-copyright);
}

.section-copyright__text {
  /* extrasmall regular */
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
}
