:root {
  --color-white: #fff;
  --color-black: #1d1d1d;
  --color-purple: #7772f1;
  --color-turquoise: #00f0b5;
  --color-green: #03cea4;
  --color-red: #ff4242;
  --color-crimson-bright: #f52f6e;
  --color-orange: #f89828;
  --color-blue: #5a87fc;
  --color-gray-100: #f9f9f9;
  --color-gray-200: #f4f5f6;
  --color-gray-300: #e5e8ed;
  --color-gray-400: #d7dadd;
  --color-gray-500: #b3b7bc;
  --color-gray-600: #9a9ca5;
  --color-gray-700: #787a80;
  --color-gray-800: #424551;
  --color-gray-900: #1e212c;
  --color-white-transparent20: rgb(255 255 255 / 20%);
  --color-white-transparent12: rgb(255 255 255 / 12%);
  --color-white-transparent5: rgb(255 255 255 / 5%);
}
