:root {
  color-scheme: light;

  --color-primary: var(--color-white);
  --color-price: var(--color-purple);
  --color-plan-optimal-base: var(--color-white);
  --color-plan-optimal-accent: var(--color-green);
  --color-plan-optimal-background: var(--color-gray-900);
  --color-title: var(--color-gray-900);
  --color-base: var(--color-gray-700);
  --button-base: var(--color-gray-900);
  --button-accent: var(--color-purple);
  --input-placeholder: var(--color-gray-600);
  --input-placeholder-header: var(--color-white);
  --input-border: var(--color-gray-400);
  --input-background: var(--color-gray-200);
  --background-gray: var(--color-gray-200);
  --input-border-header: var(--color-white-transparent20);
  --input-background-header: var(--color-white-transparent12);
  --step-line: var(--color-gray-600);
  --step-dot: var(--color-purple);
  --divider-gradient: #dadbdd;
  --pricing-plan-border: rgb(from var(--color-purple) r g b / 40%);
  --color-item-optimal: var(--color-white);
  --case-background: var(--color-white);
  --case-hover-text: var(--color-white);
  --case-hover-background: var(--color-gray-900);
  --item-mark: var(--color-purple);
  --item-inactive: var(--color-gray-600);
  --button-plan-base: var(--color-purple);
  --color-circular-bar-engagement: var(--color-orange);
  --color-circular-bar-deliverability: var(--color-green);
  --color-circular-bar-growth: var(--color-orange);
  --color-circular-bar-growth-secondary: var(--color-blue);
  --color-circular-bar-rate: var(--color-crimson-bright);
  --color-service-tab-active: var(--color-purple);
  --color-service-tab-inactive: var(--color-gray-600);
  --color-service-list: var(--color-gray-800);
  --color-service-button: var(--color-purple);
  --color-h1-underline: var(--color-gray-900);
  --color-footer-background: var(--color-gray-900);
  --input-border-newsletter: var(--color-white-transparent20);
  --input-background-newsletter: var(--color-white-transparent12);
  --color-section-copyright: var(--color-white-transparent5);
}
