@import './styles/global/media.css';
@import './styles/colors/colors.css';
@import './styles/normalize.css';
@import './styles/global/utility.css';
@import './styles/components/container.css';
@import './styles/components/page.css';
@import './styles/components/header.css';
@import './styles/components/nav.css';
@import './styles/components/button.css';
@import './styles/global/lato-font.css';
@import './styles/global/text-styles.css';
@import './styles/components/breadcrumb.css';
@import './styles/components/about.css';
@import './styles/components/clients.css';
@import './styles/components/section-steps.css';
@import './styles/components/section-awards.css';
@import './styles/components/section-cases.css';
@import './styles/components/section-copyright.css';
@import './styles/components/section-cta.css';
@import './styles/components/section-features.css';
@import './styles/components/section-introduction.css';
@import './styles/components/section-pricing.css';
@import './styles/components/section-services.css';
@import './styles/components/title.css';
@import './styles/components/feature.css';
@import './styles/components/cta.css';
@import './styles/components/steps.css';
@import './styles/components/step.css';
@import './styles/components/plan.css';
@import './styles/components/divider.css';
@import './styles/components/cases-container.css';
@import './styles/components/case.css';
@import './styles/components/statistics.css';
@import './styles/components/circular-bar.css';
@import './styles/components/list-item.css';
@import './styles/components/service-tab.css';
@import './styles/components/footer.css';
@import './styles/components/socials.css';
@import './styles/components/icon-inline.css';
@import './styles/components/input-field.css';
@import './styles/components/input-container.css';
